<link rel="stylesheet" href="/css/user_profile.css">
        <h1>
            Codeial / Profile Page
        </h1>
        <!-- displaying profile pic (passing src of img from db) -->
        <img src="<%= user.avatar%>" alt="<%= user.name%>"width = "100"></img>

        <% if(user.id == profile_user.id) {%>
            <!-- if user matches the show form to edit profile -->
            <!-- enctype="multipart/form-data coz form has file(profile pic) also  -->
            <form action="/users/update/<%= profile_user.id%>" method="post" enctype="multipart/form-data">
                <input type="text" name="name"  value="<%= profile_user.name%>" placeholder="your name" required>
                <input type="email" name="email"  value="<%= profile_user.email%>" placeholder="your email" required>
                <!-- input type is file for profile picture  -->
                <input type="file" name="avatar" placeholder="Profile picture">
                <input type="submit"  value="update">
            </form>
        <%}else{%>
                <!-- else show only profile info -->
                <p> <%= profile_user.name %> </p>
                <p> <%= profile_user.email %> </p>
        <%}%>

        
